.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 15px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.title{
    color: rgb(4, 0, 0);
    font-size: 40px;
    font-weight: 600;
}
.line{
    width: 61px;
    height: 5px;
    background: black;
    border-radius: 10px;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
}

.input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 480px;
    height: 60px;
    background: rgb(191, 186, 186);
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: whitesmoke;
}
.forgetPassword{
    padding-left: 62px;
    margin-top: 20px;
    color: rgb(118, 115, 115);
    font-size: 19px;
}
.forgetPassword span{
    color: black;
    cursor: pointer;
}
.submit_container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}
.singup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background: rgb(84, 82, 82);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
